

body {
  background-image: url(fundo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  
}

button { 
  display: block;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 43px;
  width: 500px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  left:0px;
}